@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Share Tech', sans-serif;
    --snow: #FFFBFF;
    --deep-blue: #1A1A2E;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: var(--deep-blue);
    color: var(--deep-blue);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: var(--snow);
    padding: 20px;
    font-size: 26px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 250px;
    background-color: var(--deep-blue);
    color: var(--deep-blue);
}

#inputWrapper {
    display: flex;
    flex-direction: column;
    color: var(--snow);
    font-size: 24px;
}

#cityInput {
    width: 300px;
    height: 50px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 6px;
}

#inputLine {
    display: flex;
    align-items: center;
}

#searchBtn {
    padding: 6px 12px;
    height: 50px;
    outline: none;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: orange;
    font-size: 24px;
}

#searchBtn:hover {
    background-color: orangered;
}

#searchBtn:active {
    background-color: orange;
}

footer {
    display: flex;
    justify-content: center;
    color: var(--snow);
    font-size: 20px;
    padding: 2px;
}

#exampleCities {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.example-city {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 150px;
    background-color: var(--snow);
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 20px;
}

.upper-example {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temperature {
    font-size: 24px;
    font-weight: 600;
    color: royalblue;
}

.lower-part {
    display: flex;
    align-items: center;
}

#mainInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hourly-info {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 100px;
    background-color: var(--snow);
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 20px;
}

#dailyInfo {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 400px;
    background-color: var(--snow);
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 20px;
}

.addInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 150px;
    background-color: var(--snow);
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 20px;
}

.sideInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}