@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Share Tech', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: #1a1a2e;
    color: #000;
}

header {
    margin: 0 auto;
    color: #FFFBFF;
    padding: 20px 0 0 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 300px;
    background-color: #1a1a2e;
    color: #000;
}

#inputWrapper {
    display: flex;
    flex-direction: column;
    color: #FFFBFF;
    font-size: 24px;
}

#cityInput {
    width: 300px;
    height: 50px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 6px;
}

footer {
    display: flex;
    justify-content: center;
    color: #FFFBFF;
    font-size: 20px;
}

#exampleCities {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.example-city {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 150px;
    background-color: #FFFBFF;
    padding: 10px;
    border-radius: 6px;
}

.upper-example {
    display: flex;
    justify-content: space-between;
    align-items: center;
}